*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Orbitron', sans-serif;
}

.text-upp{
  text-transform: uppercase;
}

/*header*/
.cabecera{

  width: 100%;
  height: 80px;
  background: transparent;
  font-weight: 500;
  display: table;
  overflow: hidden; /*aplico esto, para que se recorte, pero mi contenido se mantenga visible*/
  position: fixed; /*le doy una posición fija a mi cabecera*/
  z-index: 1000;
}

.nav{

}
/*
Aplico al div, que engloba todo el contenido del header
*/
.contenedor:before, .contenedor:after{
  display: table; /*definimos un cuadro a nivel del bloque*/
  content: "";
}

/*Fijamos los bloques que deseamos se mantengan dentro de ellos,
para que al aplicar position no salgan de ahí
*/
.fijando-cajas:before, .fijando-cajas:after{
  display: table;
  content: "";
  clear: both;
}

.contenedor{
  margin: 0;
  padding-left: 2%;
  padding-right: 2%;
  display: table;
  height: 80px;
  width: 100%;
  background-image: url("../assets/imagenes/fondo2.jpg");

}

.cabecera .logo-palabra{
  color: 	rgba(169,3,41,1);
  text-decoration: none;
  font-size: 180%;
  font-weight: 700;
  overflow: hidden;
  line-height: 80px;
  display: table-cell;
  vertical-align: middle;
}

.cabecera .barra-menu{
  float: left;
  font-size: 14px;
}

.cabecera .barra-menu{
  display: none;
}

.nav-movil{
  display: inline-block;
}
.img-principal{
  width: 100%;
  height: 400px;
  background-image: url('../assets/imagenes/foto-principal.jpg');
  display: table;
  filter: grayscale(50%);
  background-position: center;
}

.img-principal p{
  font-size: 50px;
  font-weight: 700;
  color: #990000;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-size: cover;
}

main{
  width: 100%;
  padding-top: 100px;
  text-align: center;
  justify-content: center;
}

.information{
  width: 90%;
  margin: 5%;
}
.information p{
  text-align: justify;
  padding-bottom: 5%;
}
.information button{
  border: none;
  background: gray;
  padding: 10px;
  font-size: 30px;
}
.photo{
  width: 80%;
  height: 150px;
}
.date{
  background-image: url('../assets/imagenes/fondo3.jpg');
}
@media (min-width: 768px){
  .nav-movil{
    display: none;
  }
  .cabecera .logo-palabra{
    font-size: 300%;
  }
  .cabecera .barra-menu{
    display: inline-block;
  }
  .cabecera .barra-menu ul{
  position: relative;
  list-style: none;
  display: inline-block;
  float: left;
  margin-left: 30%;
}

.cabecera .barra-menu ul li{
  float: left;
  display: table;
  height: 80px;
  margin: 10px;
}

.cabecera .barra-menu ul li a{
  color: rgba(169,3,41,1);
  font-weight: 900;
  font-size: 20px;
  text-decoration: none;
  display: table-cell;
  vertical-align: middle;
}

.cabecera .barra-menu ul li a:hover{
  color: 	#228B22;
  font-weight: 900;
}

}
